@import '../../styles/colors.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.cart-container {
    position: relative;
    width: 800px;
    height: 100vh;
    background-color: $cart-container-background;
    padding: 35px 25px;
    margin-top: 60px;

    .place-order {
      position: absolute;
      bottom: 65px;
      left: 0;
      height: 100px;
      width: 100%;
      background: $place-order-background;
      @include flex-align(space-around, center);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      .total-price {
        .total-amount-label {
          font-size: 0.688rem;
        }
      }
    }

    .tab {
      padding: 0 0 5px;
      font-size: 0.875rem;
      background: none;
      color: #808080;
      margin-right: 25px;
      border-radius: 0%;
      cursor: pointer;
      transition: border-bottom 0.3s ease;

      &.active {
        color: $tab-color;
        border-bottom: 2px solid $tab-color;
      }
    }
  
    h2 {
      margin-bottom: 10px;
    }
  
    ul {
      list-style-type: none;
      padding: 0;
    }
  
    li {
      margin-bottom: 5px;
    }

    .no-items {
      font-size: 0.875rem;
      padding-top: 20px;
      font-style: italic;
    }
  }