
@import '../../styles/variables.scss';
@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.item-card {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 10px;
    background-color: $place-order-background;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px 20px 0 20px;
  }
  
  .item-image {
    border-radius: 13px;
    position: absolute;
    top: 15%;
    left: -7%;
    width: 100px;
    height: 100%;
    margin-right: 10px;
  }
  
  .item-details {
    font-size: 5px;
    padding-left: 30%;
    flex-grow: 1;
  }
  
  .item-details h3 {
    margin: 0;
    font-size: 1rem;
  }
  
  .item-details p {
    margin: 5px 0;
    font-size: 0.75rem;
  }

  .quantity-container {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $place-order-background;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 75px;
    height: 20px;
    top: 83%;
    left: 70%;
  }

  .add-to-cart-button {
    position: absolute;
    left: 63%;
    top: 80%;
    padding: 8px 18px;
    font-size: 8px;
  }