$border-bottom-color: #D3D3D3;
$guarantee-color: green;

$add-to-wishlist-color: gray;
$cart-container-background: #f7f7f7;
$place-order-background: #fff;

$tab-color: #000;
$footer-background: #eeeeee