@import '../../styles/mixins.scss';

.shop-page-container {
    display: flex;
}
.disable-scroll {
    overflow: hidden;
  }
.shop-card-container-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 30px;
    padding-bottom: 100px;
    padding-top: 90px;
    overflow: scroll;
    height: 100vh;

    &.open {
        grid-template-columns: repeat(3, 1fr);
    }
    img{
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 175px;
    }
    .title-container {
        .title {
            font-size: 14px;
        }
    }
  
    .description {
        font-size: 10px;
    }
}